@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Space+Grotesk:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
  
  --color-petrol: #0F4C5C;
  --color-petrol-light: #18667a;
  --color-watergreen: #52B2BF;
  --color-watergreen-light: #73c8d4;
  --color-sand: #F7F5F0;
  --color-cavet-blue: #0E76B7;
  --color-cavet-blue-light: #1888CE;
  --color-cavet-blue-dark: #0A5D91;
}

html {
  scroll-behavior: smooth;
}
